
<div class="separated flex-center-vertically">
    <div class="image left">
        <img src="{{album.images.2.url}}">
    </div>
    <div class="left">
        <div class="info">
            <div>{{name}}</div>
            <div class="sub-words">{{artists.0.name}}</div>
        </div>
    </div>
    <div class="row"></div>
</div>
<div class="">
    <div class="navigation mt20">
        <div class="left">
            <img src="/img/arrow_left.png" class="js-prev">
        </div>
        <div class="right">
            <img src="/img/arrow_right.png" class="js-next">
        </div>
        <div class="middle">
            <img src="/img/play.png" class="middle">
        </div>

    </div>
</div>
