.player-view {

  .bordered {
    margin: 0 0 15px;
    box-shadow: 0px 0px 20px #162027;
    padding: 15px;
  }

  .player-navigation {
    .table-row {
      display: table-row;
    }
    .table-cell {
      display: table-cell;
      vertical-align: middle;
    }
    .image {
      padding-right: 40px;
    }
    .info {
      margin-bottom: 28px;
    }
  }
}

